/* Includes Ubuntu Web-font and makes it available to font-family */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url('UbuntuCondensed-Regular.woff') format('woff');
}

body,html {
	background: #009474; /* Old browsers */
	background: -moz-linear-gradient(left, #009474 0%, #2d937d 69%, #578e81 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #009474), color-stop(69%, #2d937d), color-stop(100%, #578e81) ); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(left, #009474 0%, #2d937d 69%, #578e81 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #009474 0%, #2d937d 69%, #578e81 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #009474 0%, #2d937d 69%, #578e81 100%); /* IE10+ */
	background: linear-gradient(left, #009474 0%, #2d937d 69%, #578e81 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#009474', endColorstr='#578e81', GradientType=1 ); /* IE6-9 */
	margin: 0;
	padding: 0;
	height: 100%; /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% !!!!eins111elf!!!!! */
	font-family: 'Ubuntu Condensed', sans-serif; /* Makes Ubuntu Condensed the default font. Falls back to system's default sans serif font */
}

/* Expands page to whole screen height */
#left, #right {
	min-height: 100%; 
	height: auto !important; 
	height: 100%; /* min heigth for IE */
	overflow: hidden !important; /* FF Scroll bar */
}

/* Sidebar containing the logo and the menu */
#left {
	width: 10%;
	float: left; /* Other elements are positioned on the right hand side of this element */
	background: #2281C4; /* Old browsers */
	background: -moz-linear-gradient(left, #2281C4 0%, #2281A4 69%, #2281C4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #009474), color-stop(69%, #2d937d), color-stop(100%, #578e81) ); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(left, #009474 0%, #2d937d 69%, #578e81 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #009474 0%, #2d937d 69%, #578e81 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #009474 0%, #2d937d 69%, #578e81 100%); /* IE10+ */
	background: linear-gradient(left, #009474 0%, #2d937d 69%, #578e81 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#009474',endColorstr='#578e81', GradientType=1 ); /* IE6-9 */
}

/* Main Content */
#right {
	width: 90%;
	float: left; /* Other elements are positioned on the right hand side of this element */
	background-color: white;
	/* background-color: #E9EDEB; */
	/* background-image: url(../images/bg-lines.gif); */
	background-position: left top;
	background-repeat: no-repeat;
	-webkit-box-shadow: -5px 0px 25px 0px rgba(0, 0, 0, 0.1); /* Chrome, Safari4+ */
	-moz-box-shadow: -5px 0px 25px 0px rgba(0, 0, 0, 0.1); /* FF3.6+ */
	box-shadow: -5px 0px 10px 25px rgba(0, 0, 0, 0.1); /* W3C */
}


/* styling for HMI 2014 web app
 
#frame0 {
	position : relative;
	width: 50%;
	height: 50%;
	resize: both;
	
}

#frame1 {
	position : absolute;
	width: 70%;
	top: 63%;	
}
*/

#canvas {
	position : absolute;
	resize: both;
}

#front_canvas {
	position : absolute;
	resize: both;
}

#logo {
	width: 100%;
	height: 100px;
	background-color: white; 
/*	background-color: #9B9898; */
	background-image: url(../images/ogema.svg); 
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
}


#menu ul {
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 0;
	color: white;
	font-size: 20px;
}

#menu li {
	border-bottom: 1px solid white;
}

#menu li a:link {
	display: block;
	font-weight: normal;
	color: white;
	text-decoration: none;
	padding: 10px 0 10px 10px;
}

#menu li a:visited {
	font-weight: normal;
	color: white;
	text-decoration: none;
}

#menu li a:focus {
	font-weight: normal;
	color: white;
	text-decoration: none;
	background-color: #007A60;
}

#menu li a:hover {
	font-weight: normal;
	color: white;
	text-decoration: none;
	background-color: #00A17E;
}

#menu li a:active {
	font-weight: normal;
	color: white;
	text-decoration: none;
	background-color: #005442;
}

.chart {
	margin: 1%;
}

.parent {
	height: 0;	
}

.widthParent {
	width: 100%;
}

.center {
	width: 90%;
	margin: auto;
	height: 100%;
}

.page {
  height: 100%;
  width: 100%;
  min-height: 100%;
 /* overflow: auto; */
}

.shadow {
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}

.sizeContent {
	display: inline-block;	
}

.round {
	-webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
	-moz-border-radius: 12px; /* FF1-3.6 */
	border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 15px;
}

.inactive {
	display: none !important;
	visibility: hidden;
}

table {
	width: 100%;
	table-layout: fixed;
}

h1 {
	font-size: 200%;
  	margin: 0;
}

.label {
	font-size: 200%;
	margin-bottom: 20px;
	/*background-image: url('../images/power.png');
	background-position: left;
	background-repeat: no-repeat;*/
}

.light {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin-right: 10px;
}

.light.on {
	background-color: #fffff0;
	background-image: radial-gradient(51% -5%, circle closest-side, #ffffee, #ffff00 110%);
	background-image: -webkit-radial-gradient(50% -5%, circle, #ffffee, #ffff00 110%);
	background-image: -moz-radial-gradient(50% -5%, circle, #ffffee, #ffff00 110%);
	-webkit-box-shadow: 0px 0px 5px #ffff00;
}

.light.off {
	background-color: #474747;
	background-image: radial-gradient(50% -5%, circle closest-side, #999999, #474747 110%);
	background-image: -webkit-radial-gradient(50% -5%, circle, #999999, #474747 110%);
	background-image: -moz-radial-gradient(50% -5%, circle, #999999, #474747 110%);
	box-shadow: 0px 0px 3px black;
	-webkit-box-shadow: 0px 0px 3px black;
}

a.switch {
	background-color: #222;
	background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .15), hsla(0, 0%, 0%, 0) );
	background-image: -moz-linear-gradient(hsla(0, 0%, 100%, .15), hsla(0, 0%, 0%, 0) );
	background-image: -ms-linear-gradient(hsla(0, 0%, 100%, .15), hsla(0, 0%, 0%, 0) );
	background-image: -o-linear-gradient(hsla(0, 0%, 100%, .15), hsla(0, 0%, 0%, 0) );
	background-image: linear-gradient(hsla(0, 0%, 100%, .15), hsla(0, 0%, 0%, 0) );
	border: 1px solid #111;
	color: #c6c6c6;
	font: bold 14px/30px sans-serif;
	height: 30px;
	margin: 10px 20px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 1px hsla(0, 0%, 0%, .8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px hsla(0, 0%, 0%, .4), inset 0 1px 0 hsla(0, 0%, 100%, .2);
	-moz-box-shadow: 0 1px 4px hsla(0, 0%, 0%, .4), inset 0 1px 0 hsla(0, 0%, 100%, .2);
	box-shadow: 0 1px 4px hsla(0, 0%, 0%, .4), inset 0 1px 0 hsla(0, 0%, 100%, .2);
}

a.switch:hover,a.switch:focus {
	background-color: #242424;
	color: #f6f6f6;
	-webkit-box-shadow: 0 1px 4px hsla(0, 0%, 0%, .4), inset 0 1px 0 hsla(0, 0%, 100%, .2);
	-moz-box-shadow: 0 1px 4px hsla(0, 0%, 0%, .4), inset 0 1px 0 hsla(0, 0%, 100%, .2);
	box-shadow: 0 1px 4px hsla(0, 0%, 0%, .4), inset 0 1px 0 hsla(0, 0%, 100%, .2);
}

a.switch:after {
	background-image: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, .8), hsla(0, 0%, 0%, 0) );
	background-image: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, .8), hsla(0, 0%, 0%, 0) );
	background-image: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, .8), hsla(0, 0%, 0%, 0) );
	background-image: -o-linear-gradient(left, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, .8), hsla(0, 0%, 0%, 0) );
	background-image: linear-gradient(left, hsla(0, 0%, 0%, 0), hsla(0, 0%, 100%, .8), hsla(0, 0%, 0%, 0) );
	background-position: 50% 0%;
	background-size: 200% 200%;
	content: '';
	display: none;
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

a.switch:hover:after,a.switch:focus:after {
	display: block;
}

a.switch:before {
	background: #363636;
	bottom: -8px;
	content: '';
	left: -8px;
	position: absolute;
	right: -8px;
	top: -8px;
	z-index: -1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px hsla(0, 0%, 100%, .3), inset 0 1px 1px hsla(0, 0%, 0%, .4), inset 0 0 5px hsla(0, 0%, 0%, .2);
	-moz-box-shadow: 0 1px 1px hsla(0, 0%, 100%, .3), inset 0 1px 1px hsla(0, 0%, 0%, .4), inset 0 0 5px hsla(0, 0%, 0%, .2);
	box-shadow: 0 1px 1px hsla(0, 0%, 100%, .3), inset 0 1px 1px hsla(0, 0%, 0%, .4), inset 0 0 5px hsla(0, 0%, 0%, .2);
}

a.switch:active {
	background-color: #202020;
	color: #b6b6b6;
	line-height: 32px;
	-webkit-box-shadow: 0 1px 0 hsla(0, 0%, 100%, .1), inset 0 1px 4px hsla(0, 0%, 0%, .8);
	-moz-box-shadow: 0 1px 0 hsla(0, 0%, 100%, .1), inset 0 1px 4px hsla(0, 0%, 0%, .8);
	box-shadow: 0 1px 0 hsla(0, 0%, 100%, .1), inset 0 1px 4px hsla(0, 0%, 0%, .8);
}

a.switch:active:after {
	display: block;
	left: 1px;
	opacity: .5;
	right: 1px;
	top: 31px;
}
