<!DOCTYPE html>
  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="google" value="notranslate">

    <title>Grafana</title>
    <link rel="stylesheet" href="/org/ogema/tools/grafana-base/css/grafana.dark.min.21253ffa.css" title="Dark">
    <link rel="icon" type="image/png" href="/org/ogema/tools/grafana-base/img/fav32.png">

    <script src="/org/ogema/tools/grafana-base/app/app.496fdc2e.js"></script>

    <script>require(['app'], function (app) { app.boot(); })</script>
    
    <style>
        .grafanaDropdownClass {
            width: auto;
        }
        .grafanaButtonClass {
            position: relative;
            bottom: 5px;
            width: 100px;
            height: 30px;
        }
        
    </style>

  </head>

  <body ng-cloak ng-controller="GrafanaCtrl">

    <link rel="stylesheet" href="/org/ogema/tools/grafana-base/css/grafana.light.min.81a2958f.css" ng-if="grafana.style === 'light'">

		<div class="page-alert-list">
			<div ng-repeat='alert in dashAlerts.list' class="alert-{{alert.severity}} alert">
				<button type="button" class="alert-close" ng-click="dashAlerts.clear(alert)">
					<i class="icon-remove-sign"></i>
				</button>
				<div class="alert-title">{{alert.title}}</div>
				<div ng-bind-html='alert.text'></div>
			</div>
		</div>

		<div ng-view></div>

                <h3> Download data as csv </h3>
                
                <div>
                    <select id="grafanaDropdown" class="grafanaDropdownClass"></select> 
                    <button id="grafanaButton" class="grafanaButtonClass">
                        <i class="icon-download"></i>
                    </button>
                </div>
                
	</body>
</html>
