.classpath
.project
.settings/
nbproject
target/
rundirs/*/ogema/users
rundirs/*/bin/*
!rundirs/*/bin/ext
!rundirs/*/bin/lib
rundirs/knopflerfish5.0/
rundirs/kf5.0-osgi/
rundirs/default/Californium.properties
rundirs/default/database/
rundirs/*/felix-cache/
rundirs/felix-native-conf/bundle/jetty-7.6.13-sources/
rundirs/OgemaRunnerNetBeans/dist/
rundirs/*/config/zwave_cache/OZW_Log.txt
build/
tmp/
temp/
.gradle/
.svn/
.metadata/
osgi/configuration/org.eclipse.osgi/
nb-configuration.xml
nbactions.xml
*~
ua_repo.dat
src/core/ref-impl/ogema-exam-base/channelmapper.config
src/core/ref-impl/persistence/persistenceTest/
src/core/ref-impl/persistence/resourceIOTest/
src/core/ref-impl/channel-mapper/test.xml
pom.xml.versionsBackup
pom.xml.releaseBackup
timeSeriesConf.xml
RecordedDataConfig.xml
release.properties
slotsdbdata/
data
SiteBuilder/
site-builder/
.recommenders/
ION7550-console/
ION7550-hldriver/
*.swp
eebus-driver/
svnrep-eebus/
java-simple-serial-connector-2.8.0/
jssc/
bin/
power-plug-controller/
src/core/ref-impl/persistence/src/test/resources/compaction/
src/core/ref-impl/persistence/src/test/resources/scenario*

