.classpath
.project
.settings/
nbproject
target/
rundirs/*/ogema/users
rundirs/*/bin/*
!rundirs/*/bin/ext
!rundirs/*/bin/lib
build/
tmp/
temp/
.gradle/
.svn/
.metadata/
osgi/configuration/org.eclipse.osgi/
nb-configuration.xml
nbactions.xml
*~
rundirs/felix-framework-4.2.1/felix-cache/
ua_repo.dat
src/core/ref-impl/ogema-exam-base/channelmapper.config
src/core/ref-impl/persistence/persistenceTest/
src/core/ref-impl/persistence/resourceIOTest/
rundirs/knopflerfish5.0/
rundirs/kf5.0-osgi/
rundirs/felix-framework-4.2.1/bundle/jetty-7.6.13-sources/
rundirs/default/Californium.properties
rundirs/default/database/
src/core/ref-impl/channel-mapper/test.xml
pom.xml.versionsBackup
pom.xml.releaseBackup
timeSeriesConf.xml
RecordedDataConfig.xml
release.properties
slotsdbdata/
data
/rundirs/OgemaRunnerNetBeans/dist/
SiteBuilder/
site-builder/
.recommenders/
ION7550-console/
ION7550-hldriver/
*.swp
