allow { [org.osgi.service.condpermadmin.BundleLocationCondition "file:jars/*"] (java.security.AllPermission) } "framework"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "file:../../src/core/*"] (java.security.AllPermission) } "ogemaBundles"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "file:../../src/apps/access-provider/*"] (java.security.AllPermission) } "securityProviderApp"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "file:../../src/apps/access-consumer/*"] (org.osgi.framework.PackagePermission "org.osgi.*" "import") (org.osgi.framework.PackagePermission "org.ogema.app.securityprovider" "import") (org.osgi.framework.PackagePermission "org.ogema.accesscontrol" "import") (org.osgi.framework.PackagePermission "org.ogema.core.model.hvac" "import") (org.ogema.accesscontrol.ChannelPermission "modbus;*;*;*" "get,set") (org.osgi.framework.ServicePermission "org.ogema.app.securityprovider.Access" "get") (org.ogema.accesscontrol.ResourcePermission "name=/top1/*" "read") (org.ogema.accesscontrol.ResourcePermission "type=org.ogema.core.model.hvac.HeatPump" "read,write")} "securityConsumerApp"