.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.margin-bottom-05 { margin-bottom: 0.5em; }
.margin-bottom-10 { margin-bottom: 1.0em; }
.margin-bottom-15 { margin-bottom: 1.5em; }
.margin-bottom-20 { margin-bottom: 2.0em; }
.margin-bottom-25 { margin-bottom: 2.5em; }
.margin-bottom-30 { margin-bottom: 3.0em; }