body {
    padding: 100px;
}

#logo{
    width: 250px;
    margin: 0px;
}

.container{
    max-width: 380px; 
}

.well{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
}
.panel{
    margin:20px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
}