allow { [org.osgi.service.condpermadmin.BundleLocationCondition "mvn:org.apache.felix/*"] (java.security.AllPermission) } "framework"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "mvn:org.ogema.ref-impl/*"] (java.security.AllPermission) } "ogemaRFIMPL"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "mvn:org.ogema.core/*"] (java.security.AllPermission) } "ogemaCORE"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "link:classpath:META-INF/links/*"] (java.security.AllPermission) } "paxBundles"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "mvn:org.slf4j/slf4j-api/*"] (java.security.AllPermission) } "slf4j"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "mvn:org.codehaus.jackson/*"] (java.security.AllPermission) } "codehaus"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "mvn:javax.servlet/javax.servlet-api/3.0.1"] (java.security.AllPermission) } "servletAPI"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "mvn:org.ogema.apps/ogema-admin/*"] (java.security.AllPermission) } "admin1"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "reference:file:target/classes/*"] (java.security.AllPermission) } "admin2"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "mvn:org.ops4j.pax.exam/*"] (java.security.AllPermission) } "ops4j"
allow { [org.osgi.service.condpermadmin.BundleLocationCondition "file:../../src/apps/access-consumer/*"] (org.osgi.framework.PackagePermission "org.osgi.*" "import") (org.osgi.framework.PackagePermission "org.ogema.app.securityprovider" "import") (org.osgi.framework.PackagePermission "org.ogema.accesscontrol" "import") (org.osgi.framework.PackagePermission "org.ogema.core.model.hvac" "import") (org.ogema.accesscontrol.ChannelPermission "modbus;*;*;*" "get,set") (org.osgi.framework.ServicePermission "org.ogema.app.securityprovider.Access" "get") (org.ogema.accesscontrol.ResourcePermission "name=/top1/*" "read") (org.ogema.accesscontrol.ResourcePermission "type=org.ogema.core.model.hvac.HeatPump" "read,write")} "securityConsumerApp"