<!--

    This file is part of OGEMA.

    OGEMA is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License version 3
    as published by the Free Software Foundation.

    OGEMA is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with OGEMA. If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE html>
<html ng-app="appStoreApp">
    <head>
        <script type="text/javascript" src="jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="appStore.js"></script>
        <script type="text/javascript" src="bootstrap.min.js"></script>
        <link rel="stylesheet" href="bootstrap.css">

    </head>
    <body>
        <div align="center">
            <div class="col-xs-6 col-sm-4"></div>
            <div class="col-xs-6 col-sm-4" ng-controller="AppStoreController as appStore">

                <h2>AppStore</h2>

                <ul ng-repeat="appStoreLocation in appStore.appStoreLocations">
                    <li ng-repeat="location in appStoreLocation">{{location}}</li>
                </ul>
          
                <form ng-submit="appStore.getAppStores()">
                    <input class="btn-primary" type="submit" value="test">
                    
                </form>

            </div>
            <div class="col-xs-6 col-sm-4"></div>
        </div>
    </body>
</html>
</html>
