@charset "utf-8";
/* CSS Document */
/*
a.button:link, a.button:visited {
		
	   margin-left:300px; margin-top:950px; margin-bottom:2px; float:left; display:block; padding:20px 20px 20px 40px; clear:both; 
	   border-radius:15px; border:5px solid #CCC; color:rgba(153, 153, 153, 1); box-shadow:5px 5px 5px rgba(179, 179, 179, .6);
	   background-image:url(../images/Pfeil.png); background-position:10px; background-repeat:no-repeat; background-size:25px;
  	   text-align:center; font-weight: bold; font-family: 'Arial', sans-serif; font-size:22px; text-decoration:none;} 
*/	   
	   
a#back:hover { 
	margin-top:950px;  box-shadow:5px 5px 5px rgba(179, 179, 179, 1); border:5px solid rgba(179, 179, 179, .9);}

a#back:active { 
	margin-left:302px; margin-top:952px; margin-bottom:0px;
	box-shadow:3px 3px 3px  rgba(179, 179, 179, 1); border:5px solid rgba(179, 179, 179, .9);}



a.button {
/*	background: linear-gradient(145deg, rgba(232,232,232,.8), white);*/
	font-weight: bold;  box-shadow:7px 7px 7px rgba(179, 179, 179, 1);
  	display:block; width:200px; padding:40px 0px;
  	text-align:center; text-decoration:none; float:left; border-radius:15px;  text-shadow: 1px 1px 0 rgba(255,255,255,.6); 
  	font-family: 'Arial', sans-serif; font-size:22px;}
	
a.button:hover { 
	/*background: linear-gradient(145deg, rgba(232,232,232,1), white);*/ }
		 
a.button:active { 
	box-shadow:4px 4px 4px rgba(104, 104, 104, 1);}	
	
a.buttonRot:link, a.buttonRot:visited {
 	color:rgba(255,51,51,.7);  border:3px solid rgba(255,51,51,.6);
	} 
  	
	
a.buttonRot:hover {
	box-shadow:7px 7px 7px rgba(104, 104, 104, 1);
 	color:rgba(255,51,51,1);
	border-color:rgba(255,51,51,.7)}
	
a.buttonRot:active {
	color:rgba(255,51,51,.9);box-shadow:4px 4px 4px rgba(104, 104, 104, 1);}
	
a.buttonGruen:link, a.buttonGruen:visited {
	border:3px solid rgba(128,171,68,.8); 
 	color:rgba(128,171,68,.8);}
	
a.buttonGruen:hover {
	border-color:rgba(128,171,68,.9);
	color:rgba(128,171,68,1);
	box-shadow:7px 7px 7px rgba(104, 104, 104, 1);} 
 	
	
a.buttonGruen:active {
 	box-shadow:4px 4px 4px rgba(104, 104, 104, 1);
}
  	
a.buttonGelb:link, a.buttonGelb:visited {
	border:4px solid rgba(251, 227, 59,1); 
 	color:rgba(251, 227, 59,1);}
	
a.buttonGelb:hover {
	color:#FFCC00;
	box-shadow:7px 7px 7px rgba(104, 104, 104, 1); 
 	border-color:#FFCC00;}
	
a.buttonGelb:active {
	box-shadow:4px 4px 4px rgba(104, 104, 104, 1) }
	
 	
 	
a#buttonKueche {
	margin-left:100px; margin-top:100px; }
a#buttonKueche:active {
	margin-left:103px; margin-top:103px; margin-right:-3px; margin-bottom:-3px;} 
	
a#buttonEss{
	margin-left:40px;  margin-top:100px;}
a#buttonEss:active{margin-left:43px; margin-top:103px; margin-bottom:-3px;}
	
		
a#buttonWohn{
	margin-left:100px;  margin-top:40px; clear:left;}
a#buttonWohn:active {margin-left:103px;  margin-top:43px; margin-right:-3px; margin-bottom:-3px;}
	
a#buttonSchlaf{ 
	margin-left:40px;  margin-top:40px;}
a#buttonSchlaf:active {
	margin-left:43px;margin-top:43px;margin-bottom:-3px;} 
	
a#buttonKids{
	margin-left:100px;  margin-top:40px; clear:left;}
a#buttonKids:active {
	margin-left:103px;  margin-top:43px; margin-right:-3px;}

a#buttonBad{
	margin-left:40px;  margin-top:40px;}
a#buttonBad:active{
	margin-left:43px;margin-top:43px;}