div.wrapsOnePerm,div.additional {
	margin-top: 0px;
	border-bottom: 1px solid grey;
	padding: 5px;
}
/* In permission-div the headline (=name of permission) */
div.headLine {
	border-style: none;
	margin: 5px 5px 0;
	padding: 5px;
	background: #39C;
	border-radius: 5px 5px 0 0;
	color: white;
	overflow: auto;
}
div.allPermHeadLine {
	border-style: none;
	margin: 5px 5px 20px;
	padding: 5px;
	background: #124791;
	border-radius: 5px;
	color: white;
}
/* In the permission-Div the body (=content) */
div.bodyOfPerm {
	margin: 0 5px 5px;
	padding: 5px 5px 5px 10px;
	border: 1px solid grey;
	border-radius: 0 0 5px 5px;
	color: black;
	background: #E9E9E9;
}

/* For the Add Permission Button */
.ui-dialog .ui-dialog-content form button {
	margin-top: 30px;
	margin-bottom: 10px;
}

div.bodyOfPerm input[type=text] {
	width: 450px !important;
	border: none;
	border-bottom: 1px dotted black;
	height: 22px;
	width: 250px;
	padding: 2px;
	margin-bottom: 10px !important;
	background: transparent;
}

div.headLine input[type=text] {
	margin: 5px;
	border: none;
	background: none;
	border-bottom: 1px dotted white;
	width: 250px;
	height: 22px;
	color: white;
}

div.allPermHeadLine input[type=text] {
	margin: 5px;
	border: none;
	background: none;
	border-bottom: 1px dotted white;
	width: 250px;
	height: 22px;
	color: white;
}

/* Checkboxes in PermissionBody for actions*/
div.bodyOfPerm input.m {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}

/* When label clicked, checkbox gets checked, so label gets thick */
:checked+.lb {
	font-weight: bold;
}
input[name=chkAll]{
	margin-left: 19px;
}
input.resCheck{
	float: left;
	margin-top: 6px;
}
label.resCheck{
	float: left;
	margin-top: 9px;
}
#granted, #demanded{
	padding: 15px;
}
#filtered{
	padding: 15px;
	background: red;
}
.permsDialog{
	display: none;
}
.ui-dialog-buttonpane{
	background: #F5F5F5;
}
.ui-dialog{
	background: #F5F5F5;
}
.ui-button, .cancelButton, .installButton{
	background: #E9E9E9 !important;
}
#dialogBundleName{
	color: #39C;
	font-weight: bold;
}
.ui-dialog{
	border: 1px solid #E3E3E3 !important;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.35);

}