@charset "utf-8";

body {
	background-color: rgba(90, 220, 240, 0.15);
	overflow: hidden;
	margin: 0px auto;
}

div#top {
	height: 170px;
	width: 1890px;
	margin: 15px;
}

div#row3 {
	height: 170px;
	width: 1890px;
	margin: 15px;
}

.rowDiv {
	display: table-row;
}

.rowFull {
	display: table-row;
	width: 100%;
}

.cellDiv {
	display: table-cell;
	width: 383px;
	height: 180px;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(90, 220, 240, 0.2);
	border: 1px solid rgba(179, 179, 179, 0.5);
	box-shadow: 7px 7px 7px rgba(179, 179, 179, 1);
}

.cellEmpty {
	display: table-cell;
	width: 384px;
	height: 130px;
	vertical-align: top;
}

.cellDivTop {
	display: table-cell;
	width: 640px;
	height: 60px;
	vertical-align: middle;
	text-align: center;
}

.cellHead {
	display: table-cell;
	width: 768px;
	vertical-align: middle;
	text-align: center;
}

.cellHeadTail {
	display: table-cell;
	width: 384px;
	vertical-align: middle;
	text-align: center;
}

h1 {
	font-family: 'Arial', sans-serif;
	font-size: 30px;
	color: rgba(142, 142, 142, 1);
	font-weight: lighter;
}

h2 {
	font-family: 'Arial', sans-serif;
	font-size: 24px;
	color: rgba(142, 142, 142, 1);
	font-weight: normal;
}

#temperatureIn {
	
}

#temperatureOut {
	
}

#humidityIn {
	
}

#humidityOut {
	
}

div[id*='message'] {
	font-size: 16px;
	padding: 1em;
	font-family: sans-serif;
	width: 300px;
	border: 3px solid rgba(0, 0, 0, 0);
	text-align: center;
	margin: auto;
}

.button:link, .button:visited {
	padding: 10px;
	border-radius: 6px;
	border: 2px solid #CCC;
	color: rgba(255, 255, 255, 1);
	box-shadow: 2px 2px 2px rgba(179, 179, 179, .6);
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-size: 22px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.6);
}

.button:hover {
	box-shadow: 2px 2px 2px rgba(179, 179, 179, 1);
	border: 2px solid rgba(179, 179, 179, .9);
}

.button:active {
	box-shadow: 1px 1px 1px rgba(179, 179, 179, 1);
	border: 2px solid rgba(179, 179, 179, .9);
	margin-left: 3px;
	margin-top: 3px;
}