<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.iis.graphicaldisplayREST"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
     <uses-permission android:name="android.permission.INTERNET"></uses-permission>
   	 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" ></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="de.iis.graphicaldisplayREST.RESTActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name" android:configChanges="orientation" android:name="de.iis.graphicaldisplayREST.MenuActivity">
        		  <intent-filter>
        		  <action android:name="android.intent.action.VIEW"/>
        		  <category
        		  		  android:name="android.intent.category.DEFAULT">
        		  </category>
        		  </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name" android:configChanges="orientation" android:name="de.iis.graphicaldisplayREST.MainActivity">
        		  <intent-filter>
        		  <action android:name="android.intent.action.VIEW"/>
        		  <category
        		  		  android:name="android.intent.category.DEFAULT">
        		  </category>
        		  </intent-filter>
        </activity>
        
        
    </application>

</manifest>
