<!--

    This file is part of OGEMA.

    OGEMA is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License version 3
    as published by the Free Software Foundation.

    OGEMA is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with OGEMA. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="building col-sm-12 well well-sm" ng-controller="UserAdministrationController">
    <div class="spinner" ng-show="loading">
        LOADING ....            
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                User Administration
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="search" ng-model="q" class="form-control" placeholder="filter users..." />
            <div class="row">
                <div class="col-md-12">
                    <table  class="table table-striped"  ng-hide="loading">
                        <tr>
                            <th colspan="3">
                                User
                            </th>
                        </tr>
                        <tr ng-repeat="user in users| filter:q">
                            <td width="80%">
                                <a href ng-click="editUser(user.name)" ng-class="{admin: user.isAdmin == true}">
                                    <span class="glyphicon glyphicon-user" ng-if="user.isNatural == true"> </span> 
                                    <span class="glyphicon glyphicon-cog" ng-if="user.isNatural == false"> </span> 
                                    {{user.name}}
                                </a>
                            </td>
                            <td width="10%">
                                <button class="btn btn-xs btn-success btn-usr-gui" href ng-click="editUser(user.name)""><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                            <td width="10%">
                                <button class="btn btn-xs btn-danger btn-usr-gui" href ng-click="deleteUser(user.name)""><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <accordion> 
                <accordion-group>
                    
                    <accordion-heading>
	                    <div>
				            Create new User <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
			            </div>
			        </accordion-heading>
                    <div class="row">
                        <div class="col-md-3"><label>Username:</label><input class="form-control" ng-model="newUserName" type="text"></div>
                        <div class="col-md-3"><label>Password</label><input class="form-control" ng-model="newUserPwd" type="password"></div>
                        <div class="col-md-3">
                            <label>User Type:</label><br/>
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="newUserIsNatural" btn-radio="true"><span class="glyphicon glyphicon-user"></span></label>
                                <label class="btn btn-primary" ng-model="newUserIsNatural" btn-radio="false"><span class="glyphicon glyphicon-cog"></span></label>
                            </div>
                        </div>
                        <div class="col-md-3"><label> </label><br/><button class="btn btn-success" ng-disabled="newUserName == '' || newUserPwd == '' || newUserIsNatural == undefined" ng-click="addNewUser(newUserName, newUserPwd, newUserIsNatural)">Add new User</button></div>
                    </div>
                    <div class="row" ng-if="msg.newUser != ''">
                        <span class="alert">{{msg.newUser}}</span>
                    </div>
                </accordion-group>
                <accordion-group>
                    <accordion-heading>
                        <div>
                            Copy User <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </div>
                    </accordion-heading>
                    <div class="row">
                        <div class="col-md-3"><label>Copy User </label> 
                            <select ng-model="oldUser" class="form-control" ng-options="user.name for user in users">
                                <option value="">- choose -</option>
                            </select></div>
                        <div class="col-md-3"><label>to User </label><input class="form-control" ng-model="newUser" type="text"></div>
                        <div class="col-md-3"><label>new Password</label><input class="form-control" ng-model="copiedUserPwd" type="password"></div>
                        <div class="col-md-3"><label> </label><br/><button class="btn btn-success" ng-disabled="newUser == '' || oldUser == undefined || copiedUserPwd == ''" ng-click="copyUser(oldUser.name, newUser, copiedUserPwd)">Copy User</button></div>
                    </div>
                    <div class="row" ng-if="msg.copyUser != ''">
                        <span class="alert">{{msg.copyUser}}</span>
                    </div>
                </accordion-group>
                <accordion-group>
                    <accordion-heading>
                        <div>
                            Change Password <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </div>
                    </accordion-heading>
                    <div class="row">
                        <div class="col-md-4"><label>For User</label> <select ng-model="userForNewPwd" class="form-control" ng-options="user.name for user in users"></select></div>
                        <div class="col-md-4"><label>new Password</label><input class="form-control" ng-model="newPwdForUser" type="text"></div>
                        <div class="col-md-4"><label> </label><br/><button class="btn btn-success" ng-disabled="userForNewPwd == undefined || newPwdForUser == ''" ng-click="changePassword(userForNewPwd.name, newPwdForUser)">Change Password</button></div>
                    </div>
                    <div class="row" ng-if="msg.changePassword != ''">
                        <span class="alert">{{msg.changePassword}}</span>
                    </div>
                </accordion-group>


        </div>
    </div>

</div>



<script type="text/ng-template" id="editUser">
    <div class="modal-header">
    <h3 class="modal-title">Edit User: {{editUsername}}</h3>
    </div>
    <div class="modal-body">
    <div class="row">
    <table class="table table-striped table-bordered">
    <tbody>
    <tr>
    <td>User Name</td><td>{{userData.name}}</td>
    </tr>
    <tr>
    <td>OGEMA Role</td><td>
    <span class="glyphicon glyphicon-user" ng-if="userData.credentials.ogemaRole == 'naturalUser'"> </span> 
    <span class="glyphicon glyphicon-cog" ng-if="userData.credentials.ogemaRole != 'naturalUser'"> </span> 
    {{userData.credentials.ogemaRole == 'naturalUser' | iif : "natural user" : "machine user"}}
    </td>
    </tr>
    <tr>
    <td>Administrator</td><td><input type="checkbox" ng-model="userData.isAdmin" ng-change="toggleAdminStatus(userData)"</td>
    </tr>
    </tbody>
    </table>
    </div>
    <div class="row">
    <accordion>
    <accordion-group ng-if="userPolicies.type != 'ERROR'" is-open="status.open">
        <accordion-heading>
            <div>
                Resource Permissions <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </div>
        </accordion-heading>
    <div style="overflow: auto;">
        <table class="table table-striped table-responsive table-bordered fullwidth">
            <thead>
                <tr>
                    <td width="5">&nbsp;</td>
                    <td width="30">Path</td>
                    <td width="30">Type</td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="read"  popover-trigger="mouseenter" alt="read">r</span></td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="write"  popover-trigger="mouseenter"  alt="write">w</span></td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="addSub"  popover-trigger="mouseenter" alt="addSub">aS</span></td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="create"  popover-trigger="mouseenter"  alt="create">c</span></td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="delete"  popover-trigger="mouseenter"  alt="delete">d</span></td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="activity"  popover-trigger="mouseenter"  alt="activity">a</span></td>
                    <td width="5"><span class="tiny btn-xs" popover-placement="top" popover="delete policy"  popover-trigger="mouseenter"  alt="delete"><span class="glyphicon glyphicon-trash"></span></span></td>
                </tr>    
            </thead>
            <tbody>
                <tr ng-repeat="policy in userPolicies.resourcePermissions"  ng-class="policy.delete ? 'danger' : ''">
                    <td>
                        <button class="btn btn-link" ng-click="toggleAccessDecision(policy)">
                            <span class="glyphicon glyphicon-ok-circle  glyph-permitted" ng-if="policy.accessDecision == 'allow'"> </span>
                            <span class="glyphicon glyphicon-ban-circle glyph-notpermitted" ng-if="policy.accessDecision != 'allow'"> </span>                   
                        </button> 

                    </td>
                    <td>
                        <a href="#" editable-text="policy.resourcePath">{{ policy.resourcePath || 'empty' }}</a>
                    </td>
                    <td>
                        <a href="#" editable-text="policy.resourceType">{{ policy.resourceType || 'empty' }}</a>
                    </td>
                    <td ng-repeat="role in permissionActions">
                        <input type="checkbox" checklist-model="policy.permissionActions" checklist-value="role"> 
                    </td>
                    <td>
                        <button class="btn btn-xs" ng-click="policy.delete = ! policy.delete"  ng-class="policy.delete ? 'btn-success' : 'btn-danger'"><span class="glyphicon"  ng-class="policy.delete ? 'glyphicon-ok' : 'glyphicon-trash'"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><strong>Add new Resource Permission</strong></p>
    <div style="overflow: auto;">
        <table class="table table-striped table-responsive table-bordered fullwidth">
            <thead>
                <tr>
                    <td width="5">&nbsp;</td>
                    <td width="30">Path</td>
                    <td width="30">Type</td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="read"  popover-trigger="mouseenter" alt="read">r</span></td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="write"  popover-trigger="mouseenter"  alt="write">w</span></td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="addSub"  popover-trigger="mouseenter" alt="addSub">aS</span></td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="create"  popover-trigger="mouseenter"  alt="create">c</span></td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="delete"  popover-trigger="mouseenter"  alt="delete">d</span></td>
                    <td width="5"><span class="tiny" popover-placement="top" popover="activity"  popover-trigger="mouseenter"  alt="activity">a</span></td>
                    <td width="5"><span class="tiny btn-xs" popover-placement="top" popover="add policy"  popover-trigger="mouseenter"  alt="delete"><span class="glyphicon glyphicon-plus"></span></span></td>
                </tr>    
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="btn btn-link" ng-click="toggleAccessDecision(newpolicy)">
                            <span class="glyphicon glyphicon-ok-circle glyph-permitted" ng-if="newpolicy.accessDecision == 'allow'"> </span>
                            <span class="glyphicon glyphicon-ban-circle glyph-notpermitted" ng-if="newpolicy.accessDecision != 'allow'"> </span>                   
                        </button> 
                    </td>
                    <td>
                        <a href="#" editable-text="newpolicy.resourcePath">{{ newpolicy.resourcePath || 'empty' }}</a>
                    </td>
                    <td>
                        <a href="#" editable-text="newpolicy.resourceType">{{ newpolicy.resourceType || 'empty' }}</a>
                    </td>
                    <td ng-repeat="role in permissionActions">
                        <input type="checkbox" checklist-model="newpolicy.permissionActions" checklist-value="role"> 
                    </td>
                    <td>
                        <button class="btn btn-xs btn-success btn-usr-gui" ng-click="addNewPolicy(newpolicy)"><span class="glyphicon glyphicon-plus"></span></button>
                    </td>
                </tr>  
            </tbody>
        </table>
    </div>
    <p><button class="btn btn-primary pull-right" ng-click="initUserPolicies()" style="margin-left: 12px">Cancel</button><button class="btn btn-primary pull-right" ng-click="setUserPolicies()">Apply</button></p>
    </accordion-group>
    <accordion-group ng-if="userPermittedApps.type != 'ERROR'" is-open="status.open">
        <accordion-heading>
            <div>
                App Permissions <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </div>
        </accordion-heading>
    <p>
    <input type="search" ng-model="appFilter" class="form-control" placeholder="filter applications..." />
    <!--Result: {{(userPermittedApps| filter: {name:appFilter}).length}} out of {{userPermittedApps.length}}-->
    </p>
    <div class="scrollpane">
    <button class="btn btn-default fileListItem" ng-class="{true:'btn - permitted', false:'btn - notpermitted'}[app.permitted]" ng-repeat="app in userPermittedApps.apps|filter:appFilter|orderBy:'app.permitted'"  ng-click="toggleAppPermission(app)">
    <table class="fullwidth">
    <tbody>
        <tr>
            <td width="10%">
                <img class="fileListItemLogo" ng-if="app.bundleID !== undefined" ng-src="/install/installedapps?action=getIcon&app={{app.bundleID}}" alt="{{app.readableName}}"/>
                <img class="fileListItemLogo" ng-if="app.bundleID === undefined" src="./img/svg/appdefaultlogo.svg" alt="{{app.readableName}}"/>
            </td>
            <td width="*">
                {{app.readableName}}
            </td>
            <td width="5%">
                <span class="glyphicon glyphicon-ok-circle glyph-permitted" ng-if="app.permitted == true"> </span>
                <span class="glyphicon glyphicon-ban-circle glyph-notpermitted" ng-if="app.permitted == false"> </span>
            </td>
        </tr>
    </tbody>
    </table>                  
    </div>
    </button>
    </accordion-group>
    </accordion>
    </div>
    </div>
    <div class ="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deleteUser">
    <div class="modal-header">
    <h3 class="modal-title">Delete User: {{deleteUsername}}</h3>
    </div>
    <div class="modal-body">
    <p><b>Are you sure to DELETE the User {{deleteUsername}} from this system?</b></p>
    </div>
    <div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">DELETE</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

